<h1>Search person by name</h1>
<form (ngSubmit)="submit()">
  <mat-form-field class="full-width">
    <input
      type="text"
      placeholder="Pick one"
      matInput
      [formControl]="myControl"
      [matAutocomplete]="auto"
    />
    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
      <mat-option
        *ngFor="let option of filteredOptions | async"
        [value]="option"
      >
        {{ option }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
  <button color="primary" mat-raised-button type="submit">Search</button>
</form>
<h3 *ngIf="p">Results</h3>
<p>
  {{ p }}
</p>